/* div {
    background-color: crimson;
    padding: 10px;
}

p {
    background-color: green;
    padding: 10px;
} */

/* ul {
    background-color: crimson;
    padding: 10px;
}

li {
    background-color: green;
} */
