/* h1 {
    color: green
} */

.green {
    color: green
}

p {
    font-family: monospace;
    font-style: italic;
    font-size: 18px;
}

p::first-letter {
    color: red;
    font-weight: bold;
    font-size: 20px;
}
